@{
    ViewData["Title"] = "Notificação";
}

<h2>@ViewData["Title"]</h2>
<h4>Email enviado com sucesso</h4>
@Html.ActionLink("Voltar para lista", "Index", "Home", new { area = "" }, new { @class = "btn btn-outline-secondary" })
